# --- DATASET & ẢNH (Quan trọng nhất) ---
data/
*.csv
*.jpg
*.jpeg
*.png
*.npy
*.xlsx
*.zip

# --- CÁC FILE/THƯ MỤC HỆ THỐNG PYTHON ---
__pycache__/
*.pyc

# --- MÔI TRƯỜNG ẢO (Rất nặng, không up lên) ---
.venv/
venv/
env/
.env

# --- FILE CHECKPOINT MODEL (Nặng GB, không up lên) ---
*.pt
*.pth
*.ckpt
D:/NCKH_Checkpoints_*/
# Loại bỏ hai thư mục checkpoint cụ thể
D:/skin_cancer_project/checkpoint_bcn20000/
D:/skin_cancer_project/checkpoint_ham10000/

# --- LOG & IDE CONFIG ---
wandb/
.idea/
.vscode/
*.log